{% include 'header.html' %}
<br>
<div class='container first-div'>
    <h1 class="display-4 header">FAQs</h1>
    <p>If you have concerns regarding specific purchases, errors, or questions not listed, please contact <a style="text-decoration: underline !important;" href="mailto: princetonrebook@gmail.com">princetonrebook@gmail.com</a>.</p>
    <h4>I'm a Buyer</h4>
    <br>     
    <div id="accordion" class="accordion accordion-flush">

        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                    How can I search for books?
                </a>
            </div>
            <div id="collapseOne" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    You can search for books by navigating to the <a href='/search'
                        style="text-decoration: underline !important;">search</a> tab. You can search for books by title, ISBN number, author, or course name (e.g. COS126). Using our filters panel under the search bar, you can also sort your search results by date the listing was posted or prices, as well as filter by condition and price!
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                    What is my Buyer Bookbag?
                </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Your <a href='/buyerbookbag' style="text-decoration: underline !important;">Buyer Bookbag</a> is
                    your personalized space for all the books you are interested in buying, are in the process of
                    buying, or have previously bought in the past. In your 'In my bookbag' tab, you can see all the books you
                    added to your bookbag. In your 'Pending' tab, you can see all the books you've paid for or have
                    requested to buy. In your 'Completed' tab, you can view your purchase history for all previously
                    purchased books. You can remove items from your bookbag, cancel transactions, and delete items from your purchase history here.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                    How do I save books I'm interested in for later?
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    You can save books to your <a href='/buyerbookbag'
                        style="text-decoration: underline !important;">Buyer Bookbag</a> by clicking on the "Add to
                    Buyer Bookbag" button on the listing page for any book that is not your own. Think of this as a
                    bookmarks page where you can look over them later. This is not a shopping cart. Books in your bookbag will
                    have a red bookmark icon when they appear in your search.
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTen">
                    Why did some listings from my Bookbag disappear?
                </a>
            </div>
            <div id="collapseTen" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Sometimes, listings will disappear from your bookbag. This may be because the 
                    seller deleted the listing, or because someone moved forward with purchasing that 
                    listing. You should receive a red alert on the top of your Buyer Bookbag page the 
                    next time you refresh it or visit it, indicating which listings were affected.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                    How do I buy a book?
                </a>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p>You can click the "Buy Now" button on the listing page for the book you would like to buy.
                        It is up to you and the seller, whose contact information is provided to you, to carry 
                        out the delivery! Once you receive the book from the seller, please remind the seller to 
                        select the green checkmark button in their 'Pending' tab in the <a href='/buyerbookbag' 
                        style="text-decoration: underline !important;">Buyer Bookbag</a> to update the listing status.
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    <br>
    <br>

    <h4>I'm a Seller</h4>
    <br>
    <div id="accordion2" class="accordion accordion-flush">
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseSeven">
                    What is my Seller Station?
                </a>
            </div>
            <div id="collapseSeven" class="collapse" data-parent="#accordion2">
                <div class="card-body">
                    Your <a href='/sellerstation' style="text-decoration: underline !important;">Seller Station</a> is
                    your personalized space for all the books you are offering to sell, are in the process of selling, 
                    or have previously sold in the past. In your 'Active' tab, you can see all the books you
                    are actively selling and can be found via search. In your 'Pending' tab, you can see all the 
                    books that someone is looking to pay for. In your 'Completed' tab, you can view your selling 
                    history for all previously sold books.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseSix">
                    How do I post a listing?
                </a>
            </div>
            <div id="collapseSix" class="collapse" data-parent="#accordion2">
                <div class="card-body">
                    You can post a listing via your <a href='/sellerstation'
                        style="text-decoration: underline !important;">Seller Station</a>. 
                        Click the green "+ Post Listing" button to get started. Search for your 
                        book by ISBN to automatically retreive information regarding your book's 
                        publication information! Then, fill in the rest of the form indicating your 
                        book's condition, price, and course. You can also optionally add a description 
                        and images of your book. You may also edit the listing after it is posted.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseEleven">
                    What if my book is not available through the ISBN search?
                </a>
            </div>
            <div id="collapseEleven" class="collapse" data-parent="#accordion2">
                <div class="card-body">
                    Currently, rebook supports all books that are searchable on the Google 
                    Bookstore. Thus, rebook supports the vast majority of textbooks. However, 
                    there are specific rare instances where the ISBN database we are using does 
                    not have certain books, such as looseleaf (unbound) textbooks. Unfortunately, 
                    our platform does not currently support these rare exceptions. Please email us
                    at princetonrebook@gmail.com to let us know about these.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseEight">
                    How do I receive my payment?
                </a>
            </div>
            <div id="collapseEight" class="collapse" data-parent="#accordion2">
                <div class="card-body">
                    When someone indicates that they will buy your book, you will receive an email notification 
                    about who the buyer is. In your <a href='/sellerstation' style="text-decoration: underline 
                    !important;">Seller Station</a>'s 'Pending' tab, you can see the buyer's contact information. 
                    You must contact the buyer and discuss the logistics. Transactions are typically carried through
                    cash or Venmo.
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseNine">
                    Can I deny someone's request to buy my book?
                </a>
            </div>
            <div id="collapseNine" class="collapse" data-parent="#accordion2">
                <div class="card-body">
                    You may deny someone's request to buy your book via your <a href='/sellerstation'
                    style="text-decoration: underline !important;">Seller Station</a>'s 'Pending' tab. 
                    You may do this for several reasons: for example, if the information on your listing 
                    (e.g. price, description, etc) was inaccurate, or if the buyer's payment logistics 
                    is inconvenient for you. The listing will then be returned to the search page. However, 
                    rebook does not tolerate nor condone any discrimination. Denying a purchase request based 
                    on the buyer's identity is against our terms of service. 
                </div>
            </div>
        </div>
    </div>

</div>
<br>
<br>

{% include 'footer.html' %}