<!-- Footer -->
</div>
<footer id="footer" class="bg-light text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">About</h5>
                <hr>

                <p>
                    Rebook is a textbook exchange web application that allows students to buy and sell textbooks from
                    their peers.
                    It was developed by Sophie Li '23, Connie Xu '23, and Jayson Wu '23 for a COS333 project.
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
                <hr>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a class="nav-link" href="mailto: princetonrebook@gmail.com">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="p-3 text-center">
        © 2021 Copyright: rebook
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

<script type="text/javascript" src="{{url_for('static', filename='scripts.js')}}"></script>
<script>
    $("[data-toggle='tooltip']").tooltip();
</script>

</body>

</html>